p {
    font-size: 22px;
}

a {
    font-size:  22px;
}

.picture {
    width:600px;
}

@media(max-width: 480px) {
    h1{
        font-size: 18px;
    }
    
    p {
        font-size: 16px;
        line-height:1.7;
    }

    a {
        font-size:  16px;
        line-height:1.7;
    }

    .picture {
        width:600px;
    }
}
