p {
    font-size: 22px;
}

a {
    font-size:  22px;
    background-color: rgba(255,255,255,0.4);
    border-radius: 10px;
    padding: 5px;
    line-height: 1.7;
}

.title {
    font-size:  22px;
    color: #000;
    font-weight: bold;
    -webkit-text-stroke: 0.1px #fff;
    /*text-decoration: underline;*/
    line-height: 1.7;
    /*color:palevioletred*/
    /*background-color: aqua;*/
}

.lb {
    margin-bottom: 600px;
}

.pre_clear {
    font-size:  22px;
    border-radius: 10px;
    padding: 7px;
    white-space: pre-wrap;
    word-wrap: break-word;  
}

.pre_comment {
    font-size:  22px;
    background-color: rgba(255,255,255,0.7);
    border-radius: 10px;
    padding: 7px;
    white-space: pre-wrap;
    word-wrap: break-word; 
}


body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100svh;
    height: 100%;
    z-index: -1;
    background: url('blossoms.png') no-repeat center center / cover;
    will-change: transform;
} 



.picture {
    width:600px;
}

@media(max-width: 480px) {
    h1{
        font-size: 17px;
        word-break: break-all;
    }
    
    p {
        font-size: 16px;
        line-height:1.7;
        word-break: break-all;
    }

    a {
        font-size:  16px;
        background-color: rgba(255,255,255,0.4);
        border-radius: 10px;
        padding: 5px;
        line-height:1.7;
        word-break: break-all;
    }
    
    .title {
        font-size:  16px;
        color: #000;
        font-weight: bold;
        -webkit-text-stroke: 0.05px #000;
        /*text-decoration: underline;*/
        line-height: 1.7;
        /*color:palevioletred*/
        /*background-color: aqua;*/

    }

    .lb {
        margin-bottom: 900px;
    }

    .pre_clear {
        font-size:  16px;
        line-height:1.7;
        padding: 7px;
        word-break: break-all;
        white-space: pre-wrap;
        word-wrap: break-word; 
    }

    .pre_comment {
        font-size:  16px;
        line-height:1.7;
        background-color: rgba(255,255,255,0.7);
        border-radius: 10px;
        padding: 7px;
        word-break: break-all;
        white-space: pre-wrap;
        word-wrap: break-word;
    }

    .picture {
        max-width: 100%;
        height: auto;
    }
}
